<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yelp Camp</title>
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<body>  
         <div class="header">
            <h1 id="yelp">Welcome to <i class="fas fa-yen-sign"></i>elp C<i class="fab fa-accusoft"></i>mp!</h1>
         <a href="/campgrounds" class="btn btn-dark btn-lg ">View all Campgrounds</a>
                 
              
         </div>
             
        
    <ul class="cb-slideshow">
        <li>
            <span>Image 01</span>
            <div>
                <h3></h3>
            </div>
        </li>
        <li>  <span>Image 02</span>
            <div>
                <h3></h3>
            </div>
        </li>
        <li>
            <span>Image 03</span>
            <div>
                <h3></h3>
            </div>
        </li>
        <li>
            <span>Image 04</span>
            <div>
                <h3></h3>
            </div>
        </li>
        <li>
            <span>Image 05</span>
            <div>
                <h3></h3>
            </div>
        </li>
        <li>
            <span>Image 06</span>
            <div>
                <h3></h3>
            </div>
        </li>
      
    </ul>
    
    
    
    <%- include("partials/footer") %>